In [15]:
import pandas as pd

In [16]:
dataframe = pd.DataFrame({"Text": [''],
                          "Score Pos": [0.33],
                          "Score Neu": [0.33],
                          "Score Neg": [0.33],
                          "Overall": [0]})

In [17]:
dataframe

  Text  Score Pos  Score Neu  Score Neg  Overall
0            0.33       0.33       0.33        0

In [18]:
data = {'Text': 'Original text', 'Score Pos': 0.096239194, 'Score Neu': 0.76166874, 'Score Neg': 0.14209215, 'Overall': -0.04585296}

In [19]:
data_df = pd.DataFrame(data, index=[0])

In [20]:
data_df

            Text  Score Pos  Score Neu  Score Neg   Overall
0  Original text   0.096239   0.761669   0.142092 -0.045853

In [22]:
copy_df = dataframe.copy()
copy_df

  Text  Score Pos  Score Neu  Score Neg  Overall
0            0.33       0.33       0.33        0

In [23]:
df = pd.concat([copy_df, data_df])
df

            Text  Score Pos  Score Neu  Score Neg   Overall
0                  0.330000   0.330000   0.330000  0.000000
0  Original text   0.096239   0.761669   0.142092 -0.045853

In [10]:
df = pd.concat([dataframe, data_df])

In [11]:
df

            Text  Score Pos  Score Neu  Score Neg   Overall
0                  0.330000   0.330000   0.330000  0.000000
0  Original text   0.096239   0.761669   0.142092 -0.045853

In [12]:
df = pd.concat([df, data_df])

In [13]:
df

            Text  Score Pos  Score Neu  Score Neg   Overall
0                  0.330000   0.330000   0.330000  0.000000
0  Original text   0.096239   0.761669   0.142092 -0.045853
0  Original text   0.096239   0.761669   0.142092 -0.045853

In [14]:
df = pd.concat([df, data_df], ignore_index=True)
df

            Text  Score Pos  Score Neu  Score Neg   Overall
0                  0.330000   0.330000   0.330000  0.000000
1  Original text   0.096239   0.761669   0.142092 -0.045853
2  Original text   0.096239   0.761669   0.142092 -0.045853
3  Original text   0.096239   0.761669   0.142092 -0.045853